<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h1 class="card-title">Bienvenido</h1>
    <h2 class="card-subtitle mb-2 text-body-secondary">Gracias por acceder a este sitio web</h2>
    <p class="card-text">Esta pagina esta en proceso para el lab3</p>
  </div>
</div>